body {
  background-color: #f4f4f4;
}
h1 {
  text-align: center;
  font-weight: 400;
}

.main-table {
  width: 100%;
  border-collapse: collapse;
}

thead th {
  color: #fff;
  text-align: left;
  background-color: #1089ff;
  padding: 1.5em 1em;
}

td,
th {
  padding: 1.5em 1em;
}

td {
  background-color: #fff;
  border-bottom: 2px solid #f4f4f4;
}
